<!DOCTYPE html>
<html lang="es">
  <head>
    <title>eBr - Alrededor de los EEUU</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Página interactiva para añadir, eliminar o dar Like a las fotos."
    />
    <meta name="author" content="Braulio Banuelos" />
    <meta name="keywords" content="viaje, foto, EEUU, otros" />
    <!-- <link rel="stylesheet" href="pages/index.css" /> -->
    <link rel="shortcut icon" href="./favicon.ico" />
  </head>
  <body class="body">
    <div class="page">
      <header class="header">
        <img
          class="header__logo"
          src="<%= require('./images/vector/header__logo.svg')%>"
          alt="Around EEUU logo"
          id="header-logo"
        />
      </header>
      <main class="content">
        <section class="profile">
          <div class="profile__avatar">
            <img
              class="profile__avatar-image"
              id="profile__avatar-image"
              alt="Profile picture"
              src="<%= require('./images/profile_avatar-foto.png')%>"
            />
          </div>
          <!--0. DATA -->
          <div class="profile__info">
            <div class="profile__info-container">
              <p class="profile__name">Jacques Cousteau</p>
              <button class="profile__edit-button" type="button"></button>
            </div>
            <p class="profile__description">Explorador</p>
          </div>
          <button class="profile__add-button" type="button"></button>
        </section>
        <section class="elements" id="elements"></section>
      </main>
      <!-- <div class="popup-overlay-edit popup-overlay-add image-popup"></div> -->
      <!-- <div class="popup__overlay" id="popup__overlay"></div> -->
      <!--1. POPUP PROFILE -->
      <div class="popup" id="popup-profile">
        <div class="popup__overlay" id="popup-overlay-edit"></div>
        <div class="popup__container" id="edit-popup__container">
          <h2 class="popup__title">Editar Perfil</h2>
          <form
            class="popup__edit popup__edit-form"
            id="popup__edit-form"
            novalidate
          >
            <input
              class="popup__input popup__input-name"
              type="text"
              id="popup__input-name"
              value="Jacques Cousteau"
              minlength="2"
              maxlength="40"
              required
            />
            <span class="popup__error" id="popup__input-name-error"></span>
            <input
              class="popup__input popup__input-description"
              type="text"
              id="popup__input-description"
              value="Explorador"
              minlength="2"
              maxlength="200"
              required
            />
            <span
              class="popup__error"
              id="popup__input-description-error"
            ></span>
            <button
              class="popup__save-button form__button"
              id="btn-submit-profile"
              type="submit"
            >
              Guardar
            </button>
            <button
              class="popup__close-button popup__close-form"
              id="btn-close-profile"
              type="button"
            ></button>
          </form>
        </div>
      </div>
      <!--2. POPUP ADD PLACES FORM -->
      <div class="popup" id="place-popup">
        <div class="popup__overlay" id="popup-overlay-add"></div>
        <div class="popup__container" id="add-popup__container">
          <h2 class="popup__title">Nuevo Lugar</h2>
          <form
            class="popup__edit popup__edit-form"
            id="popup__add-form"
            novalidate
          >
            <input
              class="popup__input popup__add-name"
              type="text"
              id="popup__add-name"
              placeholder="Título"
              minlength="2"
              maxlength="30"
              required
            />
            <span class="popup__error" id="popup__add-name-error"></span>
            <input
              class="popup__input popup__add-adress"
              type="url"
              id="popup__add-adress"
              placeholder="Enlace a la imagen"
              required
            />
            <span class="popup__error" id="popup__add-adress-error"></span>
            <button
              class="popup__save-button form__button"
              type="submit"
              id="btn-submit-place"
            >
              Crear
            </button>
            <button
              class="popup__close-button popup__close-form"
              id="btn-close-place"
              type="button"
            ></button>
          </form>
        </div>
      </div>
      <!--3. POPUP IMAGE FORM -->
      <div class="popup" id="image-popup">
        <div class="popup__overlay" id="popup-overlay-image"></div>
        <div class="popup__content-image">
          <button class="popup__close-button popup__close-image"></button>
          <img class="popup__element-image" src=" " alt=" " />
          <p class="popup__element-title"></p>
        </div>
      </div>
      <!--4.  ELEMENTS TEMPLATE -->
      <template id="template__elements">
        <div class="template__element">
          <img
            src="<%= require('./images/vector/Trash-icon.svg')%>"
            alt="Icono de Eliminar foto"
            class="element__trash-icon"
          />
          <div class="element__image-container">
            <img
              src=" "
              alt=" "
              class="element__image"
              style="background-color: black"
            />
          </div>
          <div class="element__button">
            <h2 class="element__text"></h2>
            <div class="element__like-button"></div>
          </div>
        </div>
      </template>

      <footer class="footer">
        <h2 class="footer-copyright">&#169;2024 Braulio Bañuelos</h2>
      </footer>
    </div>
    <script src="./index.js" type="module"></script>
    <!-- <script src="./src/utils.js" type="module"></script> -->
  </body>
</html>
